doctype html
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chao Chien I
        link(rel="stylesheet", href="style/main.css")
    body
        header
            .left_box 
                a(href="#")
                    img(src="img/mina.png")
            nav.nav_box
                ul.navbar
                    li
                        a(href="#") Home
                    li |
                    li
                        a(href="#") About
                    li |
                    li
                        a(href="#") Portfolio
        main.disable 
            section.portfolio 
                .left_box
                    ul.nav_tag 
                        li
                            a UIUX設計
                        li
                            a 網頁設計
                        li 
                            a 插畫繪製
                        li 
                            a 影片剪輯
                .right_box 
                    ul 
                        li
                            .photo
                                img(src="img/Frame 53.png")
                                p 文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字述文字描述文字描述文字描述文字描述文字描述文字述文字描述文字描述文字描述文字描述文字描述文字述文字描述文字描述文字描述文字描述文字描述
                            h3 作品名
                        li
                            .photo
                                img(src="img/Frame 53.png")
                                p 文字描述
                            h3 作品名
                        li
                            .photo
                                img(src="img/Frame 53.png")
                                p 文字描述
                            h3 作品名
                        li
                            .photo
                                img(src="img/Frame 53.png")
                                p 文字描述
                            h3 作品名
                        li
                            .photo
                                img(src="img/Frame 53.png")
                                p 文字描述
                            h3 作品名
        section.about                  
                            
        