<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chao Chien I</title>
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js"> </script>
    <script type="module" src="js/all.js"></script>
  </head>
  <body>
    <canvas id="confetti_holder"></canvas>
    <div id="app">
      <header>
        <div class="left_box"><a @click="web_page_change(0)"><img src="img/mina.png"></a></div>
        <nav class="nav_box">
          <ul class="navbar">
            <li><a @click="web_page_change(0)">Home</a></li>
            <li>|</li>
            <li><a @click="web_page_change(1)">About</a></li>
            <li>|</li>
            <li><a @click="web_page_change(2)">Portfolio</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="home" v-if="web_page === 0">
          <h1>HOME PAGE</h1>
        </section>
        <section class="about" v-else-if="web_page === 1">
          <div class="card">
            <div class="title">
              <h1>趙千儀 Chao Chien I</h1>
              <h4>社會新鮮人</h4>
            </div>
            <hr>
            <div class="edu">
              <h4>國立臺灣科技大學 <span>設計系</span> 畢業</h4>
              <h5>2019 - 2023</h5>
            </div>
            <h3>專長</h3>
            <div class="skills">
              <div class="skill" v-for="skills in myinfoData">{{skills.skill}}</div>
            </div>
            <h3>軟體</h3>
            <div class="softwares">
              <div class="software" v-for="software_img in myinfoData" :key="software_img.id">
                <div class="img" :style="{'background-image': 'url(' + software_img.software + ')','background-size': 'cover','background-position': 'center','width': '100%', 'padding-top': '100%'}"></div>
              </div>
            </div>
            <h3>簡介</h3>
            <p>Lorem ipsum at eos minima, quibusdam, ut, dignissimos labore a maxime quasi blanditiis voluptas earum laborum sit harum?</p>
          </div>
        </section>
        <section class="portfolio" v-else-if="web_page === 2">
          <div class="left_box">
            <ul class="nav_tag">
              <li><a @click="portfolio_change(0)">UIUX設計</a></li>
              <li><a @click="portfolio_change(1)">網頁設計</a></li>
              <li><a @click="portfolio_change(2)"> 插畫繪製</a></li>
              <li><a @click="portfolio_change(3)"> 影片剪輯</a></li>
              <li><a @click="portfolio_change(4)"> 產品設計</a></li>
              <li><a @click="portfolio_change(5)"> 其他作品</a></li>
            </ul>
          </div>
          <div class="right_box">
            <div class="uiux" v-if="portfolio_page === 0">
              <ul>
                <li v-for="uiux_data in uiuxData">
                  <div class="card"><a :href="uiux_data.Link" target="_blank"></a>
                    <div class="front"><img :src="uiux_data.img"></div>
                    <div class="back">
                      <p>{{uiux_data.Introduction}}</p><span>{{uiux_data.tag}}</span>
                    </div>
                  </div>
                  <h3>{{uiux_data.Name}}</h3>
                </li>
              </ul>
            </div>
            <div class="web" v-else-if="portfolio_page === 1">
              <ul>
                <li v-for="web_data in webData">
                  <div class="card"><a :href="web_data.Link" target="_blank"></a>
                    <div class="front"><img :src="web_data.img"></div>
                    <div class="back">
                      <p>{{web_data.Introduction}}</p><span>{{web_data.tag}}</span>
                    </div>
                  </div>
                  <h3>{{web_data.Name}}</h3>
                </li>
              </ul>
            </div>
            <div class="illustration" v-else-if="portfolio_page === 2">
              <div class="waterfall">
                <div class="item" v-for="illustration_data in illustrationData"><img :src="illustration_data.img">
                  <div class="tag">{{illustration_data.tag}}</div>
                </div>
              </div>
            </div>
            <div class="clip" v-else-if="portfolio_page === 3">
              <ul>
                <li v-for="clip_data in clipData">
                  <div class="card"><a :href="clip_data.Link" target="_blank"></a>
                    <div class="front"><img :src="clip_data.img"></div>
                    <div class="back">
                      <p>{{clip_data.Introduction}}</p><span>{{clip_data.tag}}</span>
                    </div>
                  </div>
                  <h3>{{clip_data.Name}}</h3>
                </li>
              </ul>
            </div>
            <div class="product" v-else-if="portfolio_page === 4">
              <ul>
                <li v-for="product_data in productData">
                  <div class="card"><a :href="product_data.Link" target="_blank"></a>
                    <div class="front"><img :src="product_data.img"></div>
                    <div class="back">
                      <p>{{product_data.Introduction}}</p><span>{{product_data.tag}}</span>
                    </div>
                  </div>
                  <h3>{{product_data.Name}}</h3>
                </li>
              </ul>
            </div>
            <div class="other" v-else-if="portfolio_page === 5">
              <ul>
                <li v-for="other_data in otherData">
                  <div class="card"><a :href="other_data.Link" target="_blank"></a>
                    <div class="front"><img :src="other_data.img"></div>
                    <div class="back">
                      <p>{{other_data.Introduction}}</p><span>{{other_data.tag}}</span>
                    </div>
                  </div>
                  <h3>{{other_data.Name}}</h3>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <div class="chart" :class="{ 'chart-z-index-1': web_page === 1, 'chart-z-index-2': web_page === 0 || web_page === 2 }">
          <canvas id="myChart" v-show="web_page===1" width="360" height="360"></canvas>
        </div>
      </main>
    </div>
  </body>
</html>