doctype html
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chao Chien I
        link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
        link(rel="stylesheet", href="style/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js") 
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js") 
        script(type="module", src="js/all.js")
    body
        
        canvas#confetti_holder
        #app
            audio#attackSound(src='sound/swing1.mp3' preload="auto")
            audio#magicSound(src='sound/scifi_attack1.mp3' preload="auto")
            audio#healSound(src='sound/voice_of_light.mp3' preload="auto")
            audio#monsterAttackSound(src='sound/cut_with_sword2.mp3' preload="auto")
            audio#bgm(src="sound/maou_bgm_cyber31.mp3" autoplay) 
            header
                .left_box
                    a(@click="web_page_change(0)")
                        img(src="img/mina.png")
                nav.nav_box
                    ul.navbar
                        li
                            a(@click="web_page_change(0)") Home
                        li |
                        li
                            a(@click="web_page_change(1)") About
                        li |
                        li
                            a(@click="web_page_change(2)") Portfolio
            main
                .loader(v-show="loading")
                    .glitch(data-glitch='Loading...') Loading...
                section.home(v-if="web_page === 0")
                    .rule(v-if="showRule===true")
                        img(src="img/Frame 53.png")
                    .action(:class="{ 'player_shake': isPlayerShaking }")
                        .button
                            .normal_atk(@mouseover="handleHover('對敵人造成一般傷害')" @mouseleave="handleHover()" @click="attack()" :class="{ 'disabled': isBleeding===true}") 普通攻擊
                            .magic_atk(@mouseover="handleHover('消耗MP 10，對敵人1.5倍傷害')" @mouseleave="handleHover()" @click="magicAttack()" :class="{ 'disabled': player.mp < 10 || isSealed===true}") 魔法攻擊
                            .hp_heal(@mouseover="handleHover('消耗MP 10，回復自身HP')" @mouseleave="handleHover()" @click="heal()" :class="{ 'disabled': player.mp < 10 || isSealed===true}") HP回復
                            .container(@mouseover="spUseHover()" @mouseleave="spNoUseHover()")
                                .sp_use SP使用
                                .mp_heal(v-show="spUse" @mouseover="handleHover('消耗SP 1，回復自身MP');" @mouseleave="handleHover()" @click="restoreMP()" :class="{ 'disabled': player.sp == 0 || isWeak===true}") MP回復
                                .status_ailments_relieved(v-show="spUse" @mouseover="handleHover('消耗SP 3，解除所有異常狀態');" @mouseleave="handleHover()" @click=" relieveStatus()" :class="{ 'disabled': player.sp < 3 }") 異常解除
                            .action_skip(@mouseover="handleHover('不做任何動作')" @mouseleave="handleHover()" @click="skipAction()") 不行動
                        .description {{ actionDescription }}
                        .bg_block
                    .helper(@mouseover="hoverRule()" @mouseleave="hiddenRule()")
                    .sound_control(@click="") BGM Control
                    .status(:class="{ 'player_shake': isPlayerShaking }")
                        .hp
                            span HP
                            .block_out
                                .block_in(:style="{ width: this.player.hp + '%' }")
                        .mp
                            span MP
                            .block_out
                                .block_in(:style="{ width: this.player.mp + '%' }")
                        .sp
                            span SP
                            .circle_out(v-show="this.player.sp===1 || this.player.sp===2 || this.player.sp===3")
                                .circle_in
                            .circle_out(v-show="this.player.sp===2 || this.player.sp===3")
                                .circle_in
                            .circle_out(v-show="this.player.sp===3")
                                .circle_in
                        .ailments
                            .ailments_description {{ ailmentDescription }}
                            .ailment(v-show="isPoisoned===true" @mouseover="ailmentHover('中毒：每次行動HP-3')" @mouseleave="ailmentHover()")
                                img(src="img/poisoned.svg")
                            .ailment(v-show="isSealed===true" @mouseover="ailmentHover('封印：無法使用魔法攻擊、治療')" @mouseleave="ailmentHover()")
                                img(src="img/sealed.svg")
                            .ailment(v-show="isBleeding===true" @mouseover="ailmentHover('出血：無法使用普通攻擊')" @mouseleave="ailmentHover()")
                                img(src="img/bleeding.svg")
                            .ailment(v-show="isWeak===true" @mouseover="ailmentHover('虛弱：無法使用MP恢復')" @mouseleave="ailmentHover()")
                                img(src="img/weak.svg")
                        .bg_block
                    .monster
                        .monster_status
                            .name {{this.monsters[this.currentMonsterIndex].name}}
                            .hp
                                .block_out
                                    .block_in(:style="{ width: this.monsters[this.currentMonsterIndex].hp + '%' }")
                                span HP
                            .sp
                                .block_out
                                    .block_in(:style="{ width: this.monsters[this.currentMonsterIndex].sp + '%' }")
                                span SP
                            .bg_block
                        .monster_img(:class="{ 'monster_shake': isMonsterShaking }")
                            img(:src="this.monsters[this.currentMonsterIndex].imagePath" )
                section.about(v-else-if="web_page === 1")
                    .blocks
                        .block.block1
                        .block.block2
                        .block.block3
                        .block.block4
                    .my_photo(data-aos="fade-left")
                        img(src="https://i.imgur.com/htZC4sDh.jpg")
                    .myinfo(data-aos="fade-right" )
                        .card(:class="{ 'introduce-card-visible': showIntroduceCard }")
                            .next(@click="toggleIntroduceCard()")
                            .title
                                h1 趙千儀 Chao Chien I
                                h4 社會新鮮人
                            hr
                            .edu
                                h4
                                    | 國立臺灣科技大學 
                                    span 設計系
                                    |  畢業
                                h5 2019 - 2023
                            h3 專長
                            .skills
                                .skill(v-for="skills in myinfoData") {{skills[0]}}
                            h3 程式
                            .skills
                                .skill(v-for="programs in myinfoData") {{programs[2]}}
                            h3 軟體
                            .softwares
                                .software(v-for="software_img in myinfoData" :key="software_img.id")
                                    .img(:style="{'background-image': 'url(' + software_img[1] + ')','background-size': 'cover','background-position': 'center','width': '100%', 'padding-top': '100%'}")
                        .introduce_card(:class="{ 'introduce_card_fadein': showIntroduceCard }")
                            .next(@click="toggleIntroduceCard()" v-show="showIntroduceCard")
                            h3 簡介
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui quas ipsam similique adipisci. Atque consectetur eum obcaecati vel nesciunt explicabo est, aperiam excepturi dolores laudantium, ipsum itaque nam dolore!

                section.portfolio(v-else-if="web_page === 2")
                    .left_box(data-aos="fade-right")
                        ul.nav_tag
                            li(:class="{active:portfolio_page===0}")
                                a(@click="portfolio_change(0)") UIUX 設計
                            li(:class="{active:portfolio_page===1}")
                                a(@click="portfolio_change(1)") 網頁設計
                            li(:class="{active:portfolio_page===2}")
                                a(@click="portfolio_change(2)")  插畫繪製
                            li(:class="{active:portfolio_page===3}")
                                a(@click="portfolio_change(3)")  影片剪輯
                            li(:class="{active:portfolio_page===4}")
                                a(@click="portfolio_change(4)")  產品設計
                            li(:class="{active:portfolio_page===5}")
                                a(@click="portfolio_change(5)")  其他作品
                    .right_box
                        .uiux(v-if="portfolio_page === 0" data-aos="fade-down")
                            ul
                                li(v-for="uiux_data in uiuxData")
                                    .card
                                        a(:href='uiux_data.Link' target="_blank")
                                        .front
                                            img(:src='uiux_data.img')
                                        .back
                                            p {{uiux_data.Introduction}}
                                            span ▶ {{uiux_data.tag}}
                                    h3 {{uiux_data.Name}}
                        .web(v-else-if="portfolio_page === 1" data-aos="fade-down")
                            ul
                                li(v-for="web_data in webData")
                                    .card
                                        a(:href='web_data.Link' target="_blank")
                                        .front
                                            img(:src='web_data.img')
                                        .back
                                            p {{web_data.Introduction}}
                                            span ▶ {{web_data.tag}}
                                    h3 {{web_data.Name}}
                        .illustration(v-else-if="portfolio_page === 2" data-aos="fade-down")
                            .waterfall
                                .item(v-for="illustration_data in illustrationData")
                                    img(:src="illustration_data.img")
                                    .tag {{illustration_data.tag}}
                        .clip(v-else-if="portfolio_page === 3" data-aos="fade-down")
                            ul
                                li(v-for="clip_data in clipData")
                                    .card
                                        a(:href='clip_data.Link' target="_blank")
                                        .front
                                            img(:src='clip_data.img')
                                        .back
                                            p {{clip_data.Introduction}}
                                            span ▶ {{clip_data.tag}}
                                    h3 {{clip_data.Name}}
                        .product(v-else-if="portfolio_page === 4" data-aos="fade-down")
                            ul
                                li(v-for="product_data in productData")
                                    .card
                                        a(:href='product_data.Link' target="_blank")
                                        .front
                                            img(:src='product_data.img')
                                        .back
                                            p {{product_data.Introduction}}
                                            span ▶ {{product_data.tag}}
                                    h3 {{product_data.Name}}
                        .other(v-else-if="portfolio_page === 5" data-aos="fade-down")
                            ul
                                li(v-for="other_data in otherData")
                                    .card
                                        a(:href='other_data.Link' target="_blank")
                                        .front
                                            img(:src='other_data.img')
                                        .back
                                            p {{other_data.Introduction}}
                                            span ▶ {{other_data.tag}} 
                                    h3 {{other_data.Name}}
                .chart(:class="{ 'chart-z-index-1': web_page === 1, 'chart-z-index-2': web_page === 0 || web_page === 2 }"  data-aos="fade-up")
                    canvas#myChart(v-show="web_page===1" width="360" height="360")