doctype html
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chao Chien I
        link(rel="stylesheet", href="style/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js") 
        script(type="module", src="js/all.js")
    body
        #app
            header
                .left_box 
                    a(href="#")
                        img(src="img/mina.png")
                nav.nav_box
                    ul.navbar
                        li
                            a(@click="web_page_change(0)") Home
                        li |
                        li
                            a(@click="web_page_change(1)") About
                        li |
                        li
                            a(@click="web_page_change(2)") Portfolio
            main
                section.portfolio(v-if="web_page === 2") 
                    .left_box
                        ul.nav_tag 
                            li
                                a(@click="portfolio_change(0)") UIUX設計
                            li
                                a(@click="portfolio_change(1)") 網頁設計
                            li
                                a(@click="portfolio_change(2)")  插畫繪製
                            li
                                a(@click="portfolio_change(3)")  影片剪輯
                            li
                                a(@click="portfolio_change(4)")  產品設計
                    .right_box
                        .uiux(v-if="portfolio_page === 0")
                            ul 
                                li(v-for="uiux_data in uiuxData")
                                    .card
                                        a(v-bind:href='uiux_data.Link')
                                        .front 
                                            img(v-bind:src='uiux_data.img')
                                        .back 
                                            p {{uiux_data.Introduction}}
                                            span {{uiux_data.tag}}
                                    h3 {{uiux_data.Name}}
                        .web(v-else-if="portfolio_page === 1")
                            ul 
                                li(v-for="web_data in webData")
                                    .card
                                        a(v-bind:href='web_data.Link')
                                        .front 
                                            img(v-bind:src='web_data.img')
                                        .back 
                                            p {{web_data.Introduction}}
                                            span {{web_data.tag}}
                                    h3 {{web_data.Name}}
                        .illustration(v-else-if="portfolio_page === 2")
                            .waterfall 
                                .item 
                                    img(src="img/pic1.jpg")
                                .item 
                                    img(src="img/pic2.jpg")
                                .item 
                                    img(src="img/pic3.jpg")
                                .item 
                                    img(src="img/pic4.jpg")
                                .item 
                                    img(src="img/pic5.png")
                                .item 
                                    img(src="img/pic6.jpg")
                                .item 
                                    img(src="img/pic7.jpg")
                        .clip(v-else-if="portfolio_page === 3")
                            ul 
                                li
                                    .card
                                        a(href="#")
                                        .front 
                                            img(src="img/Frame 53.png")
                                        .back 
                                            p 文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例
                                            span UIUX設計、Logo設計、HTML、CSS
                                    h3 作品名
                        .product(v-else-if="portfolio_page === 4")
                            ul 
                                li
                                    .card
                                        a(href="#")
                                        .front 
                                            img(src="img/Frame 53.png")
                                        .back 
                                            p 文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例文字範例
                                            span UIUX設計、Logo設計、HTML、CSS
                                    h3 作品名
                section.about(v-else-if="web_page === 1") 
                    h1 test texttest text   test text   test text   test text            
                section.home(v-else-if="web_page === 0")                  
                           
        